[submodule "scripts/translate"]
	path = scripts/translate
	url = https://github.com/bcritt1/translate
[submodule "pos_ner"]
	path = pos_ner
	url = https://github.com/bcritt1/pos_ner
[submodule "scripts/pos_ner"]
	path = scripts/pos_ner
	url = https://github.com/bcritt1/pos_ner
